POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=DataLake
POSTGRES_USER=tomy.berrios
POSTGRES_PASSWORD=Yucaquemada1

# Opcionales para la Web UI (ui/backend)
 BACKUP_UI_PORT=3100
 BACKUP_BINARY= /Backup/storage/backups
